@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<section class="multiple-paragraphs-container ">          
    <div class="center-container dw-mod">
        <div class="grid icons-list ">
@foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
{
          string paymentMethodName = item.GetString("ItemPublisher:Item.Payment_Method_Name");
          string paymentMethodLogo = item.GetString("ItemPublisher:Item.Payment_Method_Logo.Value");
          string paymentMethodDescription = item.GetString("ItemPublisher:Item.Payment_Method_Description.Value");
          
          <p>@paymentMethodName</p><br/>
          <p><img src="@paymentMethodLogo"></p>
          <p>@paymentMethodDescription</p>
      
        @item.TemplateTags()

}
	</div>
      </div>
</section>