@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using System.Web;
@using System.Collections.Specialized;
@using System.Text.RegularExpressions;
@using System.Net;
@using System;

@{ 
    var results = GetLoop("QueryResultItem");

    foreach (var result in results)
    {
     
     var groups = result.GetLoop("Group");
     var groupCount = groups.Count;
<p>@groupCount</p>
       foreach(var group in groups){
      
}
    }
}