@MasterPageFile("MasterNoEcom.cshtml")


<div>
  <label>From Date:</label>
	<input type="date" data-date-format="DD MMMM YYYY" id = "fromDateTipster" min="" value="" required/>
</div>
<div>
  <label>To Date:</label>
	<input type="date" id = "toDateTipster" min="" value="" required/>
</div>
<div >
  <table id = "tipster-table" class = "tipster-table">
    <tr>
    <th>Tipster:</th>
    <th>Email:</th> 
     <th>Date:</th>
      <th>Placed on VIP:</th> 
      <th>Match: </th> 
      <th>Stake:</th> 
      <th>Status of prediction:</th> 
      <th>Win lose of the prediction:</th> 
      <th>Status of the tipster profile:</th> 
  </tr>
  </table>

</div>
