@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("MasterNoEcom.cshtml")
@{
}
<section class=" dw-mod">
    <div class="grid__col-auto grid__col--bleed">
        <div class="grid">
            @Model.Placeholder("dwcontent", "content", "default:true;sort:1")
        </div>
      <div class = "grid deposit-history" data-type-accont-ID = '@Model.CurrentUser.ID'>
        <div class = "row">
     
          <div class = "withdraw-history-content history-content">
          

          </div>
        </div>
        <div>
    </div>   
</section>