@{
 var image = GetString("Item.Image");
 var text = GetString("Item.Text");
 var title = GetString("Item.Title");
}
<section class = "top-banner" style = "background-image:url('@image')">
  <div class = "container">

<h1>@title</h1>
@text
    <div>
</section>