@{
 var image = GetString("Item.Image");
 var text = GetString("Item.Text");
 var title = GetString("Item.Title");
}
<section class = "top-banner" style = "background-image:url('/Admin/Public/GetImage.ashx?width=1920&crop=5&Quality=99&Format=webP&image=@image')">
  <div class = "container">

<h1>@title</h1>
@text
    </div>
</section>