

<section class="multiple-paragraphs-container grid__col-md-12 grid__col-xs-12 u-no-padding ">   
    <div class=" dw-mod">
        <div class="grid icons-list ">
            @if (GetLoop("FAQ_List").Count > 0) {
                foreach (var list in GetLoop("FAQ_List"))
                {
<p>test</p>
                }
            }
        </div>
    </div>
</section>