@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
                                 
@Include("Layout.cshtml")
@Include("ParagraphRender.cshtml")

<div id = "#test-filter" data-tipster-name = "" >
</div>